/* Terse */
.ac {text-align:center;}
.al {text-align:left;}
.ar {text-align:right;}
.dn {display:none;}
.db {display:block;}
.di {display:inline;}
.fl {float:left;}
.fn {clear:both;}
.fr {float:right;}
.m0 {margin:0;}
.oa {overflow:auto;}
.oh {overflow:hidden;}
.p0 {padding:0;}
.pa {position:absolute;}
.pr {position:relative;}
.vt {vertical-align:top;}
.vm {vertical-align:middle;}
.vb {vertical-align:bottom;}
.vh {visibility:hidden;}
.vv {visibility:visible;}
